<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>	</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet"> -->
	<script src="../js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<nav id="navbar" class="container sticky">
		<div class="logo">
			<a href="" title="">Paradise Partner<img src="" alt=""></a>
		</div>
		<div class="navbar-inverse">
			<a href="kontak.html">Kontak</a>
			<a href="galeri.html">Galeri</a>
			<a class="active" href="temukan.html">Temukan</a>
			<a href="index.html">Beranda</a>
		</div>
	</nav>

	<section id="affix">
		<div class="slideshow">
			<div class="hero-img fade">
				<img src="../img/hero.png" alt="">
				<div class="lg-center">
					<h1 class="h1-style-bold white">Destinasi, Jawa Timur</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="padding padding-start">
		<div class="container">
			<div class="row" style="width: 90%">
				<div class="img-medium">
					<img src="../img/video.png" alt="">
				</div>
				<div class="box-transparent col-20">
					<h3>Temukan surga nusantara</h3>
					<div class="dropdown">
						<button class="dropbtn-easy"><h5 class="grey-title">Jelajahi</h5>
						<span class="arrow-down" style="margin-left: 160px;"></span></button>
						<div class="dropdown-content">
							<a href="">Lorem</a>
							<a href="">Lorem</a>
							<a href="">Lorem</a>
						</div>
					</div>
					<div class="dropdown" style="padding-top: 18px">
						<button class="dropbtn-easy2"><h5 class="grey-title">Letak</h5>
						<span class="arrow-down" style="margin-left: 160px;"></span></button>
						<div class="dropdown-content2">
							<a href="">Lorem</a>
							<a href="">Lorem</a>
							<a href="">Lorem</a>
						</div>
					</div>
					<!-- <div class="dropdown" style="padding-top: 18px;">
						<button class="dropbtn-easy2"><h5 class="grey-title">Letak</h5>
						<span class="arrow-down" style="margin-left: 160px;"></span></button>
						<div class="dropdown-content">
							<a href="">Lorem</a>
							<a href="">Lorem</a>
							<a href="">Lorem</a>
						</div>
					</div> -->
					<div style="padding-top: 18px;">
						<button class="primary-full"><img src="../img/logo/search.svg" alt="" style="margin-right: 10px;">Temukan</button>						
					</div>
				</div>
				<div class="text-left">
					<h1 class="h1-style grey-h1">Gunung Bromo</h1>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, inventore, corporis. Earum nam reiciendis maxime, nulla magni, accusamus ea ut porro reprehenderit suscipit quos. Natus voluptates beatae distinctio, pariatur id.</p>
				</div>
				<p class="recomended"><img src="../img/logo/like.svg" alt="" style="margin-right: 14px;">Recomended</p>
				<button class="primary-small">Explore</button>
				<hr class="clear margin-35-35">
			</div>

			<div class="row" style="width: 90%">
				<div class="img-medium">
					<img src="../img/video.png" alt="">
				</div>
				<div class="box-transparent col-20 jetdarkblue">
					<h3 class="white">Dapatkan info terkini dari kami</h3>
					<input type="text" placeholder="Masukan Email Anda">
					<div style="padding-top: 18px;">
						<button class="primary-full"><img src="../img/logo/search.svg" alt="" style="margin-right: 10px;">Temukan</button>						
					</div>
				</div>
				<div class="text-left">
					<h1 class="h1-style grey-h1">Gunung Bromo</h1>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, inventore, corporis. Earum nam reiciendis maxime, nulla magni, accusamus ea ut porro reprehenderit suscipit quos. Natus voluptates beatae distinctio, pariatur id.</p>
				</div>
				<p class="recomended"><img src="../img/logo/like.svg" alt="" style="margin-right: 14px;">Recomended</p>
				<button class="primary-small">Explore</button>
				<hr class="clear margin-35-35">
			</div>

			<div class="row">
				<div class="img-medium">
				<img src="../img/video.png" alt="">
				</div>
				<div class="text-left">
					<h1 class="h1-style grey-h1">Gunung Bromo</h1>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, inventore, corporis. Earum nam reiciendis maxime, nulla magni, accusamus ea ut porro reprehenderit suscipit quos. Natus voluptates beatae distinctio, pariatur id.</p>
				</div>
				<p class="recomended"><img src="../img/logo/like.svg" alt="" style="margin-right: 14px;">Recomended</p>
				<button class="primary-small">Explore</button>
				<hr class="clear margin-35-35">				
			</div>
			<div class="row">
				<div class="img-medium">
				<img src="../img/video.png" alt="">
				</div>
				<div class="text-left">
					<h1 class="h1-style grey-h1">Gunung Bromo</h1>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, inventore, corporis. Earum nam reiciendis maxime, nulla magni, accusamus ea ut porro reprehenderit suscipit quos. Natus voluptates beatae distinctio, pariatur id.</p>
				</div>
				<p class="recomended"><img src="../img/logo/like.svg" alt="" style="margin-right: 14px;">Recomended</p>
				<button class="primary-small">Explore</button>
				<hr class="clear margin-35-35">				
			</div>
		</div>
	</section>

	<section class="padding-end-content"></section>

	<footer class="jetdarkblue">
		<div class="container header-footer">
			<h1 class="col-50 pull-left h1-style-bold white">Dapatkan info terkini dari kami</h1>	
			<div class="form pull-right">
				<form action="">
					<input type="email" id="fsubs" placeholder="Masukan Email Anda">
					<input type="submit" value="Subscribe" class="primary">		
				</form>				
			</div>
		</div>

		<div class="container padding-footer clear white">
			<div class="col-21 box-footer-content">
				<h1 class="h1-style-bold white">Paradise Partner</h1>
				<p class="text-small-footer">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quo debitis, ab voluptate dicta sequi nam autem rerum. Blanditiis.
				</p>
				<p class="copyright">
					Made With <span><img class="icon-love" src="../img/logo/c-love.svg" alt=""></span>bySilent Partner
				</p>					
			</div>
			<div class="box-footer-content content-footer">
				<h2 class="h2-style-bold">Menu</h2>
				<p class="small">
					<ul class="menu">
						<li><a href="">Beranda</a></li>
						<li><a href="">Temukan</a></li>
						<li><a href="">Galeri</a></li>
						<li><a href="">Kontak</a></li>
					</ul>
				</p>							
			</div>
			<div class="box-footer-content content-footer">
				<h2 class="h2-style-bold">Follow Us</h2>
				<p class="small">
					<ul class="menu">
						<li><img class="icon-small-footer" src="../img/logo/fb.svg" alt=""><a href="">
						facebook.com/paradisepartner</a></li>
						<li><img class="icon-small-footer" src="../img/logo/twit.svg" alt=""><a href="">
							@paradise_partner</a></li>
						<li><img class="icon-small-footer" src="../img/logo/ig.svg" alt=""><a href="">
							@paradisepartnerofficial</a></li>
						<li><img class="icon-small-footer" src="../img/logo/drib.svg" alt=""><a href="">
							dribbble.com/rizalr</a></li>
					</ul>
				</p>							
			</div>
			<div class="box-footer-content content-footer">
				<h2 class="h2-style-bold">Contact Us</h2>
				<p class="small">
					<ul class="menu">
						<li><a href="">(0281) 632138</a></li>
						<li><a href="">paradisepartner@gmail.com</a></li>
					</ul>
				</p>							
			</div>
		</div>			
	</footer>



	<script src="../js/slider.js" type="text/javascript"></script>
	<!-- <script src="../js/dropdown.js" type="text/javascript"></script> -->
	<script>
		$(document).ready(function() {
			$(".dropbtn-easy").click(function(event) {
				$(".dropdown-content").toggleClass('show');
			});
		});
	</script>
	<script>
		$(document).ready(function() {
			$(".dropbtn-easy2").click(function(event) {
				$(".dropdown-content2").toggleClass('show');
			});
		});
	</script>
	<script>
		$(document).ready(function() {
			$(".dropbtn2").click(function(event) {
				$(".dropdown-content2").toggleClass('show');
			});
		});
	</script>

	<script>
		$(document).ready(function(){       
		   var scroll_start = 0;
		   var startchange = $('#affix');
		   var offset = startchange.offset();
		   $(document).scroll(function() { 
		      scroll_start = $(this).scrollTop();
		      if(scroll_start > offset.top) {
		          $('#navbar').css('background-color', '#fff').css('-webkit-box-shadow', '0 6px 9px -5px #bcc0c6');
		       } else {
		          $('#navbar').css('background-color', 'transparent').css('border-bottom', 'none').css('-webkit-box-shadow', 'none');
		       }
		   });
		});
	</script>
</body>
</html>